html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #EEEEEE;
}

.article-list {
    width: 100%;
    height: 100%;
    display: table-row;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
}

.article-list:nth-child(even) {
    background-color: #EEEEEE;
}

.article-list:nth-child(odd) {
    background-color: #d6d6d6;
}

.list-container {
    padding: 200px;
}

.list-item {
    color: #292929;
    /*padding-left: 20px;*/
    /*border: 1px solid #000000;*/
    /*margin-left: 15px;*/
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    display: table-cell;
    /*display: table-cell;*/
    /*margin-bottom: 10px;*/
}

.article-table {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.article-table-header {
    padding-bottom: .5rem;
}

.article-table-row {
    padding: 5px;
}

.article-table-row:nth-child(even) {
    background-color: #EEEEEE;
}

.article-table-row:nth-child(odd) {
    background-color: #d6d6d6;
}

.article-table-definition {
    padding: .5rem;
}

.hovered {
    background-color: #444444;
}