html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #F4F4F6;
}

button {
    padding: .5rem;
    background-color: #F05266;
    /*margin-top: 200px;*/
    /*margin-left: 200px;*/
    /*margin-right: 200px;*/
    font-size: 20px;
    border-radius: 8px;
    box-shadow: none;
    border: none;
    margin: auto;
    outline: none;
}

button:hover {
    background-color: #B4394B;
}

button:active {
    background-color: #A0394B;
}

#archive {

}

#button-container {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

.list-container {
    padding: 50px 200px 200px;
}

.article-table {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.article-table-header {
    padding-bottom: .5rem;
    text-align: left;
}

.article-table-row {

}

.article-table-row:nth-child(even) {
    background-color: #F4F4F6;
}

.article-table-row:nth-child(odd) {
    background-color: #d6d6d6;
}

.article-table-definition {
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: 0px;

}

.article-table-definition:nth-child(1) {
    /*padding-left: 30px;*/
}

.hovered {
    background-color: #ababab !important;
}

.selected {
    background-color: #ababab !important;
}