<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - PickPocket</title>
    {% else %}
    <title>PickPocket</title>
    {% endif %}

    <!-- BassCSS-->
    <link type="text/css" rel="stylesheet" href="static/basscss.min.css"/>

    <!-- Main CSS -->
    <link type="text/css" rel="stylesheet" href="static/front.css"/>

    <script>
        var offset = new Date().getTimezoneOffset()
    </script>

</head>
<body>
<div class="container">
    <div class="front-wrapper">
        <div class="center">
            <script>
                function login() {
                    var offset = new Date().getTimezoneOffset()
                    window.location.assign("/authenticate/" + offset)
                }
            </script>
            <button class="h4 btn btn-primary bg-red" onclick="login()">Get Started</button>
        </div>
    </div>
</div>
</body>
</html>