{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script type="application/javascript" charset="utf-8" src="/app/static/app.js"></script>
    <script type="application/javascript" charset="utf-8" src="/app/static/jquery.min.js"></script>
{% endblock %}

{% block body %}
<div class="list-container">
    <div class="article-list">
        {% for x in articles %}
            <ul>
                <li class="list-item">{{ x['article'] }}</li>
                <li class="list-item">{{ x['tag'] }}</li>
                <li class="list-item">{{ x['time'] }}</li>
            </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}
