<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - PickPocket</title>
    {% else %}
    <title>PickPocket</title>
    {% endif %}

    <!-- Default CSS-->
    <!--<link rel="stylesheet" type="text/css" href="main.css">-->

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/r/dt/dt-1.10.8,r-1.0.7,se-1.0.0/datatables.min.css"/>

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript"
            src="https://cdn.datatables.net/r/dt/dt-1.10.8,r-1.0.7,se-1.0.0/datatables.min.js"></script>

    <!-- Semantic-UI -->
    <!--<link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">-->
    <!--<script src="/semantic/dist/semantic.min.js"></script>-->

    <!-- BassCSS-->
    <!--<script type="text/javascript" src="../../basscss-7.0.4/scripts/css.js"></script>-->
    <link type="text/css" href="../../basscss-7.0.4/css/basscss.css"/>

    <script>
        $(document).ready(function () {
            $('#article_table').DataTable({
                paging: false,
                select: true
            })
        });
    </script>
</head>
<body>
<p>You made it!</p>
<table id="article_table" class="display" cellspacing="0">
    <thead>
    <tr>
        <th>Article</th>
        <th>Stuff</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
    <tr>
        <td>{{ article }}</td>
        <td>Stuffs</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>Article</th>
        <th>Stuff</th>
    </tr>
    </tfoot>
</table>
<div class="mb1">
    <button type="button" class="h4 btn btn-primary">Archive</button>
    <button type="button" class="h4 btn btn-primary">Delete</button>
    <button type="button" class="h4 btn btn-primary">Edit Tags</button>
    <button type="button" class="h4 btn btn-primary">Favorite</button>
</div>
</body>
</html>